/* CSS Document*/
body {color:#FFF;
<<<<<<< HEAD
      background-image: url('imagenes/glossymetal.jpg');
      background-repeat: repeat-x,y;
=======
      background-image: url('imagenes/fondo_degradado2.png');
      background-repeat: repeat-x;
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
      font-family: arial, verdana;
      font-size: 12px;
      text-align: justify;}
/*Cabecera de Pagina*/
#contenedor1 {
    background-color:#FFFFFF;
<<<<<<< HEAD
    
}
#cabecera{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
=======
}
#cabecera{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;   
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
}

#contenedor2 {
    background-color:#D6D6D6;
    font-size: 12px;
    text-align: justify;
}
/* Menu (columna izquierda)*/ 
#menu {
    height:525px;
    background-color:#C7C7C7;
    font-size:14px;
    
}
ul{}
li {
    list-style:none;
    border:1px solid white;
    text-align: center;
    background-color:#5D5D5D;
    border-radius: 50px;
    height: auto;
    margin-right: 30px;
    font-weight: bold;
    padding-top: auto;
    font-size: 12px;
}   
li a {
    text-decoration: none;
    color:#FFFFFF;
}
li a:hover {
    font-weight:bold;
}
/* Cuerpo*/
#cuerpo {
    color:black;
<<<<<<< HEAD
    font-weight: normal;
}        
/* Rejilla*/            

=======
    font-weight: bold;
}        
/* Rejilla*/            
h3 {
    text-align: center;
    font-family: arial, verdana;
    font-size: 18px;
    color:black;
    
}
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
table{
    margin: auto;
    width: 90%;
    border:1px black solid;
    background-color:#FFFFFF;
    color:black;
}
#detalle {
    border-collapse:collapse;
    border:1px black;
}
<<<<<<< HEAD
tr:nth-child(2n+1){background-color:#F0F0F0; color:#000;}        
th {
    font-size: 14px;
    font-weight:bolder;
=======
tr:nth-child(2n+1){background-color:#F0F0F0; color:#353535;}        
th {
    font-size: 14px;
    font-weight:bold;
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
    color:black;
    background-color:#D3D3D3;
}
a {
    text-align: center;
    font-family: arial, verdana;
    color:#353535;
    text-decoration: none;
<<<<<<< HEAD
    font-weight:bold;
   
}
a:hover {
    font-weight:bold;
    color: #A9A9F5;
}            
.visitado {
    background-color:#3ADF00;
=======
}
a:hover {
    font-weight:bold;
    color: red;
}            
.visitado {
    background-color:#010245;
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
    color:#FFFFFF;
}                    
/* Cuadros de texto y desplegables */ 
form {
    text-align: center;
}
input,select{
    background-color:#F0F0F0;
    color:#353535;
}
<<<<<<< HEAD


/* botones formulario */
 
.boton {
   border: none;
   background: url('imagenes/down1.png') repeat-x;
   padding-right: auto;
   padding-left: auto;
   padding-top: 5px;
   padding-bottom: 5px;
    
}
.boton:hover{
    border: none;
    background: url('imagenes/up.png') repeat-x;
  
   padding-right: auto;
   padding-left: auto;
   padding-top: 5px;
   padding-bottom: 5px;
}
=======
/* Botones */    
.boton {
    background-color:silver;
    font-family: arial, verdana;
    font-weight:bold;
    color:#F00202;
    border-radius:10px;
    border:solid black 1px;
    
}
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba

/* Pie de Pagina */
#contenedor3 {
    
    height: 75px;
    text-align:center; 
    background-color:darkgrey;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
<<<<<<< HEAD
    border-top: 2px solid #6E6E6E;
=======
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
     
}

#pie h1 {
    font-size:24px;
    color:#FFFFFF;
    font-weight:bold;}

.botonera_rejilla_menu{
    float: left;
    margin-left: 30px;
    padding-top: 5px;
  
    
}

#botonera{
<<<<<<< HEAD
    padding-left: auto; }


.titulo{
     text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color:black;
    }
    #titulo_pie{
       font-family: 'Merriweather', serif;
    }   
=======
    padding-left: auto; }
>>>>>>> 38cb9c9840124788c2ea64d26e3cc657bdf136ba
